@model Vidly.Models.Movie

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h2>Relase Date: @Model.ReleaseDate.ToString("dddd,MMMM,d,yyyy")</h2>
<h2>Date Added: @Model.DateAdded.ToString("dddd,MMMM,d,yyyy")</h2>
<h2>Number in Stock: @Model.NumberInStock</h2>
