@model dynamic

@{
    ViewBag.Title = "New Rental Form";
    //we don't need a layout here , in the _ViewStart.cshtml there is a layout already 
    //so we don't need to specify in every view
}

@*
Html.BeginForm would create a traditional HTML form , we would not do that
we are going to use raw HTML
*@

@*Ajax.BeginForm() is to call MVC controlers not api controlllers*@

<form action="~/Controllers/Api/"> 
    <div class="form-group">
        <label>Customer</label>
        <input type="text" value="" class="form-control"/>
    </div>
    
    <div class="form-group">
        <label>Movie</label>
        <input type="text" value="" class="form-control"/>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>




